* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #f0f0f0;
    --fg-color: #222222;
    --tile-bg-color: #fc644c;
    --tile-fg-color: var(--bg-color);
    --counter-color: #888888;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: monospace, sans-serif;
    background-color: var(--bg-color);
}

.wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.box {
    position: relative;
    outline: 6px solid var(--tile-bg-color);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
    transition: transform .3s;
}

.tile {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--tile-bg-color);
    border-radius: 5px;
    font-weight: bold;
    color: var(--tile-fg-color);
    transition: transform .3s, top .1s, left .1s;
}

.tile.psb {
    cursor: pointer;
}

.counter {
    position: absolute;
    bottom: -50px;
    margin: auto;
    font-size: .8em;
    color: var(--counter-color);
}

.gameover {
    position: absolute;
    top: -90px;
    font-size: 1.5em;
    font-weight: bold;
    color: var(--tile-bg-color);
}

#timer {
    position: absolute;
    top: -50px;
    font-size: .9em;
    color: var(--counter-color);
}